/* General Styles */

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}

.hidden {
    display: none;
}

#container {
    width: 1200px;
    margin: 0 auto;
    border-radius: 1px solid #3d3d3d;
}

.title {
    grid-column: 1/5;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #3d3d3d;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}

/* Added this for when it's playing */
.active {
    transition: all 10px 2s;
}

/* Grid(s) */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

/* Header */

#now-playing-bar {
    grid-column: 1/5;
    border: 5px solid #3d3d3d;
    border-radius: 10px;
    background-color: #fffccd;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#now-playing-bar div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}

#now-playing-bar div:first-of-type {
    margin-left: 0px;
}

#reset-button {
    /* grid-column: 1/2; */
    border: 3px solid #3d3d3d;
    text-align: center;
    border-radius: 5px;
    height: 25px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

#reset-button:active {
    transform: scale(1.1);
}

#reset-button p {
    padding: 5px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#play-button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#play-button:active {
    transform: scale(1.2);
}

#play-button img {
    height: 25px;
}

#pause-button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#pause-button:active {
    transform: scale(1.2);
}

#pause-button img {
    height: 25px;
}

#description {
    grid-column: 7/-1;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    border: 5px solid #3d3d3d;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

#description p {
    padding: 10px;
    margin-top: 7%;
}

/* Main */

#pokemon {
    grid-column: 1/-1;
}

#pokemon svg {
    height: 100px;
}

#mudkip {
    padding-top: 40px;
    padding-bottom: 40px;
}

#mudkip-div {
    grid-column: 1/4;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
}

#ralts {
    padding-top: 40px;
    padding-bottom: 40px;
}

#ralts-div {
    grid-column: 4/7;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
}

#jirachi {
    padding-top: 40px;
    padding-bottom: 40px;
}

#jirachi-div {
    grid-column: 7/10;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
}

#skitty {
    padding-top: 40px;
    padding-bottom: 40px;
}

#skitty-div {
    grid-column: 10/-1;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
}

/* dragged pokeball spots */

/* #mudkip-active {
    grid-column: 1/4;
    background-color: #3d3d3d;
    border-radius: 50%;
    text-align: center;
} */


/* Bag */

#bag {
    align-items: flex-start;
    margin-top: 20px;
}

#left-side {
    border: 5px solid #3d3d3d;
    grid-column: 1/5;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

#bag-pocket-title {
    border: 3px solid #3d3d3d;
    padding-right: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #fffccd;
}

#ball-icon {
    height: 50px;
    border: 3px solid #3d3d3d;
    padding: 10px;
    /* margin-top: 10px; */
    border-radius: 5px;
    background-color: #fff;
}

#green-bag {
    height: 90px;
    margin-left: 80px;
    padding-top: 10px;
}

#pokeballs {
    border: 5px solid #3d3d3d;
    border-radius: 10px;
    grid-column: 5/-1;
    padding: 10px;
    background-color: #fff;
}

#row1, #row2 {
    display: flex;
    justify-content: space-evenly;
}

#row1 {
    margin-top: 2.5%;
}

#row2 {
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#row1 div, #row2 div {
    display: inline;
}

#row1 svg, #row2 svg {
    height: 50px;
}

/* Footer */