/* General Styles */

.hidden {
    display: none;
}

#container {
    width: 1200px;
    margin: 0 auto;
    border-radius: 1px solid #3d3d3d;
}

.title {
    grid-column: 1/5;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #3d3d3d;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}

/* Added this for when it's playing */
.active {
    transition: all 10px 2s;
}

/* Grid(s) */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

/* Header */

#now_playing_bar {
    grid-column: 1/5;
    border: 5px solid #3d3d3d;
    border-radius: 10px;
    background-color: #fffccd;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

#now_playing_bar div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}

#now_playing_bar div:first-of-type {
    margin-left: 0px;
}

#reset_button {
    /* grid-column: 1/2; */
    border: 3px solid #3d3d3d;
    text-align: center;
    border-radius: 5px;
    height: 25px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

#reset_button:active {
    transform: scale(1.1);
}

#reset_button p {
    padding: 5px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#play_button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#play_button:active {
    transform: scale(1.2);
}

#play_button img {
    height: 25px;
}

#pause_button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#pause_button:active {
    transform: scale(1.2);
}

#pause_button img {
    height: 25px;
}

/* Main */

#pokemon {
    grid-column: 1/-1;
}

#pokemon svg {
    height: 100px;
}

#mudkip-div {
    grid-column: 1/4;
    text-align: center;
}

#ralts-div {
    grid-column: 4/7;
    text-align: center;
}

#jirachi-div {
    grid-column: 7/10;
    text-align: center;
}

#skitty-div {
    grid-column: 10/-1;
    text-align: center;
}

/* Bag */

/* Feel free to change the measurements if you think something works better! My measurements are just temporary for the time being! */

#bag {
    align-items: flex-start;
    margin-top: 50px;
}

#left_side {
    border: 5px solid #3d3d3d;
    grid-column: 1/5;
    padding: 20px;
    border-radius: 10px;
}

#bag-pocket-title {
    border: 3px solid #3d3d3d;
    padding-right: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #fffccd;
}

#ball_icon {
    height: 50px;
    border: 3px solid #3d3d3d;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#description {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: 3px solid #3d3d3d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 5px;
}

#pokeballs {
    border: 5px solid #3d3d3d;
    border-radius: 10px;
    grid-column: 5/-1;
    margin-top: 50px;
    padding: 10px;
}

#row1, #row2 {
    display: flex;
    justify-content: space-evenly;
}

#row1 {
    margin-top: 2.5%;
    overflow: none;
}

#row2 {
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#row1 div, #row2 div {
    display: inline;
}

#row1 svg, #row2 svg {
    height: 50px;
}

/* Footer */